@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: url('../assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans Condensed';
	font-weight: 300;
	font-style: normal;
	src: url('../assets/fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-style: normal;
	src: url('../assets/fonts/montserrat/Montserrat-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 200;
	font-style: normal;
	src: url('../assets/fonts/montserrat/Montserrat-UltraLight.otf') format('opentype');
}
