*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: white;
	font: 200 12px/18px 'Montserrat';
}

h1 {
	font-weight: 700;
	font-size: 1.5em;
}

.v-center-wrap {
    font-size: 0;
}
.v-center-wrap:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.v-center-box {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    max-width: 100%;
}

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	display: -webkit-flex;
	display:         flex;
}

.instructions {
	margin: auto;
	color: white;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .3em;
	padding-left: .3em;
	line-height: 2;
}

.icon-img {
	position: fixed;
	display: none;
	z-index: 1000;
	width: 2.5rem;
	height: 2.5rem;
	padding: .5rem;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	bottom: 1rem;
	cursor: pointer;
}
#vr-icon {
	right: 1rem;
	display: block;
}
#click-icon {
	left: 1rem;
}
#jump-icon {
	left: 4.5rem;
}

.left-container,
.right-container {
	width: 50%;
	height: 100%;
	float: left;
}

.btn {
	display: inline-block;
	padding: .5em 1em;
	border: 2px solid white;
	cursor: pointer;
}
.btn:active {
	color: black;
	background-color: white;
}

#menu-icon,
#cross-icon {
	top: 1rem;
	left: 1rem;
	display: block;
}

.primary-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 20rem;
	max-width: 100%;
	border-right: .25rem solid #eee;
	height: 100%;
	overflow: auto;
	background-color: black;
	z-index: 1000;
	color: #eee;
	padding: 4rem 1rem;
	display: none;
}
.primary-nav.visible {
	display: block;
}

ul {
	list-style-type: none;
	text-transform: uppercase;
	font-size: .75em;
	letter-spacing: .3em;
}
li {
	line-height: 1.5;
	padding: 2em 0;
}

#events-link {
	cursor: pointer;
}
#e1 {
	display: none;
}
#e1.visible {
	display: block;
}
a {
	text-decoration: none;
	color: inherit;
}
.lhead {
	color: #c6153c;
	font-weight: 700;
}